.input {
  width: 80px;
  min-width: 80px;
  max-width: 100%;
  display: inline-block;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 0 4px;
  color: var(--color-neutrals-8);
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Pingfang SC", "Segoe UI", "Helvetica Neue", Verdana, Arial, STHeiti, "Microsoft Yahei", sans-serif;
  background: transparent;

  &.edit {
    box-shadow: inset 0 0 0px 1px $primary-color, 0 0 2px $primary-color;
  }
}
