@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9dlphl');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?9dlphl#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?9dlphl') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?9dlphl') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?9dlphl##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icomoon-"], [class*=" icomoon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icomoon-monitoring {
  &:before {
    content: $icomoon-monitoring; 
  }
}
.icomoon-displaymode02 {
  &:before {
    content: $icomoon-displaymode02; 
  }
}
.icomoon-displaymode01 {
  &:before {
    content: $icomoon-displaymode01; 
  }
}
.icomoon-card-20 {
  &:before {
    content: $icomoon-card-20; 
  }
}
.icomoon-card-15 {
  &:before {
    content: $icomoon-card-15; 
  }
}
.icomoon-card-14 {
  &:before {
    content: $icomoon-card-14; 
  }
}
.icomoon-card-01 {
  &:before {
    content: $icomoon-card-01; 
  }
}
.icomoon-card-02 {
  &:before {
    content: $icomoon-card-02; 
  }
}
.icomoon-card-04 {
  &:before {
    content: $icomoon-card-04; 
  }
}
.icomoon-card-05 {
  &:before {
    content: $icomoon-card-05; 
  }
}
.icomoon-card-06 {
  &:before {
    content: $icomoon-card-06; 
  }
}
.icomoon-card-07 {
  &:before {
    content: $icomoon-card-07; 
  }
}
.icomoon-card-08 {
  &:before {
    content: $icomoon-card-08; 
  }
}
.icomoon-card-09 {
  &:before {
    content: $icomoon-card-09; 
  }
}
.icomoon-card-10 {
  &:before {
    content: $icomoon-card-10; 
  }
}
.icomoon-card-12 {
  &:before {
    content: $icomoon-card-12; 
  }
}
.icomoon-card-13 {
  &:before {
    content: $icomoon-card-13; 
  }
}
.icomoon-card-16 {
  &:before {
    content: $icomoon-card-16; 
  }
}
.icomoon-card-17 {
  &:before {
    content: $icomoon-card-17; 
  }
}
.icomoon-card-18 {
  &:before {
    content: $icomoon-card-18; 
  }
}
.icomoon-card-19 {
  &:before {
    content: $icomoon-card-19; 
  }
}
.icomoon-card-11 {
  &:before {
    content: $icomoon-card-11; 
  }
}
.icomoon-card-03 {
  &:before {
    content: $icomoon-card-03; 
  }
}
.icomoon-editline {
  &:before {
    content: $icomoon-editline; 
  }
}
.icomoon-addsource {
  &:before {
    content: $icomoon-addsource; 
  }
}
.icomoon-issue {
  &:before {
    content: $icomoon-issue; 
  }
}
.icomoon-realtimedata {
  &:before {
    content: $icomoon-realtimedata; 
  }
}
.icomoon-createrules {
  &:before {
    content: $icomoon-createrules; 
  }
}
.icomoon-statisticalanalysis {
  &:before {
    content: $icomoon-statisticalanalysis; 
  }
}
.icomoon-quickquery {
  &:before {
    content: $icomoon-quickquery; 
  }
}
.icomoon-appstore {
  &:before {
    content: $icomoon-appstore; 
  }
}
.icomoon-dataconfiguration {
  &:before {
    content: $icomoon-dataconfiguration; 
  }
}
.icomoon-upload {
  &:before {
    content: $icomoon-upload; 
  }
}
.icomoon-download {
  &:before {
    content: $icomoon-download; 
  }
}
.icomoon-huanyuan {
  &:before {
    content: $icomoon-huanyuan; 
  }
}
.icomoon-topologicalgraph {
  &:before {
    content: $icomoon-topologicalgraph; 
  }
}
.icomoon-context {
  &:before {
    content: $icomoon-context; 
  }
}
.icomoon-waterfall {
  &:before {
    content: $icomoon-waterfall; 
  }
}
.icomoon-stopwatch {
  &:before {
    content: $icomoon-stopwatch; 
  }
}
.icomoon-relevance {
  &:before {
    content: $icomoon-relevance; 
  }
}
.icomoon-panelpoint {
  &:before {
    content: $icomoon-panelpoint; 
  }
}
.icomoon-chakan {
  &:before {
    content: $icomoon-chakan; 
  }
}
.icomoon-icon-24 {
  &:before {
    content: $icomoon-icon-24; 
  }
}
.icomoon-icon-23 {
  &:before {
    content: $icomoon-icon-23; 
  }
}
.icomoon-icon-21 {
  &:before {
    content: $icomoon-icon-21; 
  }
}
.icomoon-icon-19 {
  &:before {
    content: $icomoon-icon-19; 
  }
}
.icomoon-icon-20 {
  &:before {
    content: $icomoon-icon-20; 
  }
}
.icomoon-icon-18 {
  &:before {
    content: $icomoon-icon-18; 
  }
}
.icomoon-icon-17 {
  &:before {
    content: $icomoon-icon-17; 
  }
}
.icomoon-icon-16 {
  &:before {
    content: $icomoon-icon-16; 
  }
}
.icomoon-icon-15 {
  &:before {
    content: $icomoon-icon-15; 
  }
}
.icomoon-icon-14 {
  &:before {
    content: $icomoon-icon-14; 
  }
}
.icomoon-icon-13 {
  &:before {
    content: $icomoon-icon-13; 
  }
}
.icomoon-icon-22 {
  &:before {
    content: $icomoon-icon-22; 
  }
}
.icomoon-establish {
  &:before {
    content: $icomoon-establish; 
  }
}
.icomoon-batchprohibition {
  &:before {
    content: $icomoon-batchprohibition; 
  }
}
.icomoon-batchstartup {
  &:before {
    content: $icomoon-batchstartup; 
  }
}
.icomoon-user {
  &:before {
    content: $icomoon-user; 
  }
}
.icomoon-datamanagement {
  &:before {
    content: $icomoon-datamanagement; 
  }
}
.icomoon-setting2 {
  &:before {
    content: $icomoon-setting2; 
  }
}
.icomoon-home {
  &:before {
    content: $icomoon-home; 
  }
}
.icomoon-icon-12 {
  &:before {
    content: $icomoon-icon-12; 
  }
}
.icomoon-icon-11 {
  &:before {
    content: $icomoon-icon-11; 
  }
}
.icomoon-icon-10 {
  &:before {
    content: $icomoon-icon-10; 
  }
}
.icomoon-icon-09 {
  &:before {
    content: $icomoon-icon-09; 
  }
}
.icomoon-icon-08 {
  &:before {
    content: $icomoon-icon-08; 
  }
}
.icomoon-icon-05 {
  &:before {
    content: $icomoon-icon-05; 
  }
}
.icomoon-icon-04 {
  &:before {
    content: $icomoon-icon-04; 
  }
}
.icomoon-icon-02 {
  &:before {
    content: $icomoon-icon-02; 
  }
}
.icomoon-icon-01 {
  &:before {
    content: $icomoon-icon-01; 
  }
}
.icomoon-icon-07 {
  &:before {
    content: $icomoon-icon-07; 
  }
}
.icomoon-icon-03 {
  &:before {
    content: $icomoon-icon-03; 
  }
}
.icomoon-icon-06 {
  &:before {
    content: $icomoon-icon-06; 
  }
}
.icomoon-kafkaintegrate {
  &:before {
    content: $icomoon-kafkaintegrate; 
  }
}
.icomoon-relationalflowdb {
  &:before {
    content: $icomoon-relationalflowdb; 
  }
}
.icomoon-thirdpartymonitoring {
  &:before {
    content: $icomoon-thirdpartymonitoring; 
  }
}
.icomoon-scriptcollection {
  &:before {
    content: $icomoon-scriptcollection; 
  }
}
.icomoon-syslog {
  &:before {
    content: $icomoon-syslog; 
  }
}
.icomoon-tcpudp {
  &:before {
    content: $icomoon-tcpudp; 
  }
}
.icomoon-filecatalog {
  &:before {
    content: $icomoon-filecatalog; 
  }
}
.icomoon-xiugaimima {
  &:before {
    content: $icomoon-xiugaimima; 
  }
}
.icomoon-moshi {
  &:before {
    content: $icomoon-moshi; 
  }
}
.icomoon-bubaohan {
  &:before {
    content: $icomoon-bubaohan; 
  }
}
.icomoon-baohan {
  &:before {
    content: $icomoon-baohan; 
  }
}
.icomoon-shuj {
  &:before {
    content: $icomoon-shuj; 
  }
}
.icomoon-tuxing {
  &:before {
    content: $icomoon-tuxing; 
  }
}
.icomoon-zhengzaics {
  &:before {
    content: $icomoon-zhengzaics; 
  }
}
.icomoon-qiehuan {
  &:before {
    content: $icomoon-qiehuan; 
  }
}
.icomoon-fe {
  &:before {
    content: $icomoon-fe; 
  }
}
.icomoon-middleware {
  &:before {
    content: $icomoon-middleware; 
  }
}
.icomoon-other {
  &:before {
    content: $icomoon-other; 
  }
}
.icomoon-deploy {
  &:before {
    content: $icomoon-deploy; 
  }
}
.icomoon-startjobs {
  &:before {
    content: $icomoon-startjobs; 
  }
}
.icomoon-topic {
  &:before {
    content: $icomoon-topic; 
  }
}
.icomoon-mxk {
  &:before {
    content: $icomoon-mxk; 
  }
}
.icomoon-mxzy {
  &:before {
    content: $icomoon-mxzy; 
  }
}
.icomoon-setting {
  &:before {
    content: $icomoon-setting; 
  }
}
.icomoon-sfk {
  &:before {
    content: $icomoon-sfk; 
  }
}
.icomoon-sjj {
  &:before {
    content: $icomoon-sjj; 
  }
}
.icomoon-sjy {
  &:before {
    content: $icomoon-sjy; 
  }
}
.icomoon-guanbi {
  &:before {
    content: $icomoon-guanbi; 
  }
}
.icomoon-chakanwd {
  &:before {
    content: $icomoon-chakanwd; 
  }
}
.icomoon-planalarm {
  &:before {
    content: $icomoon-planalarm; 
  }
}
.icomoon-curator {
  &:before {
    content: $icomoon-curator; 
  }
}
.icomoon-realalarm {
  &:before {
    content: $icomoon-realalarm; 
  }
}
.icomoon-alarmcompress {
  &:before {
    content: $icomoon-alarmcompress; 
  }
}
.icomoon-cell {
  &:before {
    content: $icomoon-cell; 
  }
}
.icomoon-es {
  &:before {
    content: $icomoon-es; 
  }
}
.icomoon-hub {
  &:before {
    content: $icomoon-hub; 
  }
}
.icomoon-itoa {
  &:before {
    content: $icomoon-itoa; 
  }
}
.icomoon-kafka {
  &:before {
    content: $icomoon-kafka; 
  }
}
.icomoon-kafkast {
  &:before {
    content: $icomoon-kafkast; 
  }
}
.icomoon-mysql {
  &:before {
    content: $icomoon-mysql; 
  }
}
.icomoon-newlook {
  &:before {
    content: $icomoon-newlook; 
  }
}
.icomoon-persistent {
  &:before {
    content: $icomoon-persistent; 
  }
}
.icomoon-router {
  &:before {
    content: $icomoon-router; 
  }
}
.icomoon-Shape {
  &:before {
    content: $icomoon-Shape; 
  }
}
.icomoon-uq {
  &:before {
    content: $icomoon-uq; 
  }
}
.icomoon-zookeeper {
  &:before {
    content: $icomoon-zookeeper; 
  }
}
.icomoon-xiangxi {
  &:before {
    content: $icomoon-xiangxi; 
  }
}
.icomoon-caiji {
  &:before {
    content: $icomoon-caiji; 
  }
}
.icomoon-gaoji {
  &:before {
    content: $icomoon-gaoji; 
  }
}
.icomoon-shuju {
  &:before {
    content: $icomoon-shuju; 
  }
}
.icomoon-zujian {
  &:before {
    content: $icomoon-zujian; 
  }
}
.icomoon-bodong {
  &:before {
    content: $icomoon-bodong; 
  }
}
.icomoon-fankui {
  &:before {
    content: $icomoon-fankui; 
  }
}
.icomoon-ouf {
  &:before {
    content: $icomoon-ouf; 
  }
}
.icomoon-xinz {
  &:before {
    content: $icomoon-xinz; 
  }
}
.icomoon-zhishik {
  &:before {
    content: $icomoon-zhishik; 
  }
}
.icomoon-analysis {
  &:before {
    content: $icomoon-analysis; 
  }
}
.icomoon-wizard {
  &:before {
    content: $icomoon-wizard; 
  }
}
.icomoon-oracle {
  &:before {
    content: $icomoon-oracle; 
  }
}
.icomoon-relation {
  &:before {
    content: $icomoon-relation; 
  }
}
.icomoon-info {
  &:before {
    content: $icomoon-info; 
  }
}
.icomoon-column-setting {
  &:before {
    content: $icomoon-column-setting; 
  }
}
.icomoon-add-notes {
  &:before {
    content: $icomoon-add-notes; 
  }
}
.icomoon-aix {
  &:before {
    content: $icomoon-aix; 
  }
}
.icomoon-linux {
  &:before {
    content: $icomoon-linux; 
  }
}
.icomoon-windows {
  &:before {
    content: $icomoon-windows; 
  }
}
.icomoon-fold {
  &:before {
    content: $icomoon-fold; 
  }
}
.icomoon-notraffic {
  &:before {
    content: $icomoon-notraffic; 
  }
}
.icomoon-suspend {
  &:before {
    content: $icomoon-suspend; 
  }
}
.icomoon-startup {
  &:before {
    content: $icomoon-startup; 
  }
}
.icomoon-close {
  &:before {
    content: $icomoon-close; 
  }
}
.icomoon-drag {
  &:before {
    content: $icomoon-drag; 
  }
}
.icomoon-moon {
  &:before {
    content: $icomoon-moon; 
  }
}
.icomoon-sun {
  &:before {
    content: $icomoon-sun; 
  }
}
.icomoon-data-preservation {
  &:before {
    content: $icomoon-data-preservation; 
  }
}
.icomoon-indefinite-period {
  &:before {
    content: $icomoon-indefinite-period; 
  }
}
.icomoon-not-active {
  &:before {
    content: $icomoon-not-active; 
  }
}
.icomoon-trial {
  &:before {
    content: $icomoon-trial; 
  }
}
.icomoon-key {
  &:before {
    content: $icomoon-key; 
  }
}
.icomoon-overdue {
  &:before {
    content: $icomoon-overdue; 
  }
}
.icomoon-activation {
  &:before {
    content: $icomoon-activation; 
  }
}
.icomoon-db {
  &:before {
    content: $icomoon-db; 
  }
}
.icomoon-move-up {
  &:before {
    content: $icomoon-move-up; 
  }
}
.icomoon-move-down {
  &:before {
    content: $icomoon-move-down; 
  }
}
.icomoon-small-bell {
  &:before {
    content: $icomoon-small-bell; 
  }
}
.icomoon-prompt-error {
  &:before {
    content: $icomoon-prompt-error; 
  }
}
.icomoon-prompt-info {
  &:before {
    content: $icomoon-prompt-info; 
  }
}
.icomoon-prompt-warn {
  &:before {
    content: $icomoon-prompt-warn; 
  }
}
.icomoon-streaming {
  &:before {
    content: $icomoon-streaming; 
  }
}
.icomoon-Edit-numbers {
  &:before {
    content: $icomoon-Edit-numbers; 
  }
}
.icomoon-Prompt {
  &:before {
    content: $icomoon-Prompt; 
  }
}
.icomoon-jieximoban {
  &:before {
    content: $icomoon-jieximoban; 
  }
}
.icomoon-zidianguanli {
  &:before {
    content: $icomoon-zidianguanli; 
  }
}
.icomoon-peizhi {
  &:before {
    content: $icomoon-peizhi; 
  }
}
.icomoon-shangchuan {
  &:before {
    content: $icomoon-shangchuan; 
  }
}
.icomoon-shujucaiji {
  &:before {
    content: $icomoon-shujucaiji; 
  }
}
.icomoon-shujuchuli {
  &:before {
    content: $icomoon-shujuchuli; 
  }
}
.icomoon-shujucunchu {
  &:before {
    content: $icomoon-shujucunchu; 
  }
}
.icomoon-Closing-the-event {
  &:before {
    content: $icomoon-Closing-the-event; 
  }
}
.icomoon-Confirmation-of-the-event {
  &:before {
    content: $icomoon-Confirmation-of-the-event; 
  }
}
.icomoon-Send-work-list {
  &:before {
    content: $icomoon-Send-work-list; 
  }
}
.icomoon-Association-log {
  &:before {
    content: $icomoon-Association-log; 
  }
}
.icomoon-Dependency-analysis {
  &:before {
    content: $icomoon-Dependency-analysis; 
  }
}
.icomoon-storage {
  &:before {
    content: $icomoon-storage; 
  }
}
.icomoon-Handle {
  &:before {
    content: $icomoon-Handle; 
  }
}
.icomoon-collection {
  &:before {
    content: $icomoon-collection; 
  }
}
.icomoon-Common-sort {
  &:before {
    content: $icomoon-Common-sort; 
  }
}
.icomoon-Intelligent-sorting {
  &:before {
    content: $icomoon-Intelligent-sorting; 
  }
}
.icomoon-stop {
  &:before {
    content: $icomoon-stop; 
  }
}
.icomoon-wrong {
  &:before {
    content: $icomoon-wrong; 
  }
}
.icomoon-right {
  &:before {
    content: $icomoon-right; 
  }
}
.icomoon-cron {
  &:before {
    content: $icomoon-cron; 
  }
}
.icomoon-ExportExcel {
  &:before {
    content: $icomoon-ExportExcel; 
  }
}
.icomoon-RowSetup {
  &:before {
    content: $icomoon-RowSetup; 
  }
}

