$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icomoon-monitoring: "\e9ba";
$icomoon-displaymode02: "\e9b8";
$icomoon-displaymode01: "\e9b9";
$icomoon-card-20: "\e9a4";
$icomoon-card-15: "\e9a5";
$icomoon-card-14: "\e9a6";
$icomoon-card-01: "\e9a7";
$icomoon-card-02: "\e9a8";
$icomoon-card-04: "\e9a9";
$icomoon-card-05: "\e9aa";
$icomoon-card-06: "\e9ab";
$icomoon-card-07: "\e9ac";
$icomoon-card-08: "\e9ad";
$icomoon-card-09: "\e9ae";
$icomoon-card-10: "\e9af";
$icomoon-card-12: "\e9b0";
$icomoon-card-13: "\e9b1";
$icomoon-card-16: "\e9b2";
$icomoon-card-17: "\e9b3";
$icomoon-card-18: "\e9b4";
$icomoon-card-19: "\e9b5";
$icomoon-card-11: "\e9b6";
$icomoon-card-03: "\e9b7";
$icomoon-editline: "\e99d";
$icomoon-addsource: "\e99e";
$icomoon-issue: "\e99f";
$icomoon-realtimedata: "\e9a0";
$icomoon-createrules: "\e9a1";
$icomoon-statisticalanalysis: "\e9a2";
$icomoon-quickquery: "\e9a3";
$icomoon-appstore: "\e99c";
$icomoon-dataconfiguration: "\e99b";
$icomoon-upload: "\e999";
$icomoon-download: "\e99a";
$icomoon-huanyuan: "\e998";
$icomoon-topologicalgraph: "\e992";
$icomoon-context: "\e993";
$icomoon-waterfall: "\e994";
$icomoon-stopwatch: "\e995";
$icomoon-relevance: "\e996";
$icomoon-panelpoint: "\e997";
$icomoon-chakan: "\e991";
$icomoon-icon-24: "\e985";
$icomoon-icon-23: "\e986";
$icomoon-icon-21: "\e987";
$icomoon-icon-19: "\e988";
$icomoon-icon-20: "\e989";
$icomoon-icon-18: "\e98a";
$icomoon-icon-17: "\e98b";
$icomoon-icon-16: "\e98c";
$icomoon-icon-15: "\e98d";
$icomoon-icon-14: "\e98e";
$icomoon-icon-13: "\e98f";
$icomoon-icon-22: "\e990";
$icomoon-establish: "\e982";
$icomoon-batchprohibition: "\e983";
$icomoon-batchstartup: "\e984";
$icomoon-user: "\e97e";
$icomoon-datamanagement: "\e981";
$icomoon-setting2: "\e97f";
$icomoon-home: "\e980";
$icomoon-icon-12: "\e96b";
$icomoon-icon-11: "\e96c";
$icomoon-icon-10: "\e96d";
$icomoon-icon-09: "\e96e";
$icomoon-icon-08: "\e96f";
$icomoon-icon-05: "\e970";
$icomoon-icon-04: "\e971";
$icomoon-icon-02: "\e972";
$icomoon-icon-01: "\e973";
$icomoon-icon-07: "\e974";
$icomoon-icon-03: "\e975";
$icomoon-icon-06: "\e976";
$icomoon-kafkaintegrate: "\e977";
$icomoon-relationalflowdb: "\e978";
$icomoon-thirdpartymonitoring: "\e979";
$icomoon-scriptcollection: "\e97a";
$icomoon-syslog: "\e97b";
$icomoon-tcpudp: "\e97c";
$icomoon-filecatalog: "\e97d";
$icomoon-xiugaimima: "\e96a";
$icomoon-moshi: "\e969";
$icomoon-bubaohan: "\e900";
$icomoon-baohan: "\e901";
$icomoon-shuj: "\e902";
$icomoon-tuxing: "\e903";
$icomoon-zhengzaics: "\e904";
$icomoon-qiehuan: "\e905";
$icomoon-fe: "\e906";
$icomoon-middleware: "\e907";
$icomoon-other: "\e908";
$icomoon-deploy: "\e909";
$icomoon-startjobs: "\e90a";
$icomoon-topic: "\e90b";
$icomoon-mxk: "\e90c";
$icomoon-mxzy: "\e90d";
$icomoon-setting: "\e90e";
$icomoon-sfk: "\e90f";
$icomoon-sjj: "\e910";
$icomoon-sjy: "\e911";
$icomoon-guanbi: "\e912";
$icomoon-chakanwd: "\e913";
$icomoon-planalarm: "\e914";
$icomoon-curator: "\e915";
$icomoon-realalarm: "\e916";
$icomoon-alarmcompress: "\e917";
$icomoon-cell: "\e918";
$icomoon-es: "\e919";
$icomoon-hub: "\e91a";
$icomoon-itoa: "\e91b";
$icomoon-kafka: "\e91c";
$icomoon-kafkast: "\e91d";
$icomoon-mysql: "\e91e";
$icomoon-newlook: "\e91f";
$icomoon-persistent: "\e920";
$icomoon-router: "\e921";
$icomoon-Shape: "\e922";
$icomoon-uq: "\e923";
$icomoon-zookeeper: "\e924";
$icomoon-xiangxi: "\e925";
$icomoon-caiji: "\e926";
$icomoon-gaoji: "\e927";
$icomoon-shuju: "\e928";
$icomoon-zujian: "\e929";
$icomoon-bodong: "\e92a";
$icomoon-fankui: "\e92b";
$icomoon-ouf: "\e92c";
$icomoon-xinz: "\e92d";
$icomoon-zhishik: "\e92e";
$icomoon-analysis: "\e92f";
$icomoon-wizard: "\e930";
$icomoon-oracle: "\e931";
$icomoon-relation: "\e932";
$icomoon-info: "\e933";
$icomoon-column-setting: "\e934";
$icomoon-add-notes: "\e935";
$icomoon-aix: "\e936";
$icomoon-linux: "\e937";
$icomoon-windows: "\e938";
$icomoon-fold: "\e939";
$icomoon-notraffic: "\e93a";
$icomoon-suspend: "\e93b";
$icomoon-startup: "\e93c";
$icomoon-close: "\e93d";
$icomoon-drag: "\e93e";
$icomoon-moon: "\e93f";
$icomoon-sun: "\e940";
$icomoon-data-preservation: "\e941";
$icomoon-indefinite-period: "\e942";
$icomoon-not-active: "\e943";
$icomoon-trial: "\e944";
$icomoon-key: "\e945";
$icomoon-overdue: "\e946";
$icomoon-activation: "\e947";
$icomoon-db: "\e948";
$icomoon-move-up: "\e949";
$icomoon-move-down: "\e94a";
$icomoon-small-bell: "\e94b";
$icomoon-prompt-error: "\e94c";
$icomoon-prompt-info: "\e94d";
$icomoon-prompt-warn: "\e94e";
$icomoon-streaming: "\e94f";
$icomoon-Edit-numbers: "\e950";
$icomoon-Prompt: "\e951";
$icomoon-jieximoban: "\e952";
$icomoon-zidianguanli: "\e953";
$icomoon-peizhi: "\e954";
$icomoon-shangchuan: "\e955";
$icomoon-shujucaiji: "\e956";
$icomoon-shujuchuli: "\e957";
$icomoon-shujucunchu: "\e958";
$icomoon-Closing-the-event: "\e959";
$icomoon-Confirmation-of-the-event: "\e95a";
$icomoon-Send-work-list: "\e95b";
$icomoon-Association-log: "\e95c";
$icomoon-Dependency-analysis: "\e95d";
$icomoon-storage: "\e95e";
$icomoon-Handle: "\e95f";
$icomoon-collection: "\e960";
$icomoon-Common-sort: "\e961";
$icomoon-Intelligent-sorting: "\e962";
$icomoon-stop: "\e963";
$icomoon-wrong: "\e964";
$icomoon-right: "\e965";
$icomoon-cron: "\e966";
$icomoon-ExportExcel: "\e967";
$icomoon-RowSetup: "\e968";

